.card{
    width: 270px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

body{
    background-color: #f3f3f3;
}

.info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(68, 68, 68);
}

.image img{
    width: 100%;
}

.info_character{
    padding: 10px;
    font-size: 13px;
    height: 220px;
    background-color: rgb(51, 51, 51);
}

.info_character :last-child{
    border-bottom: none;
}

.info > span {
    align-self: center;
}

.image{
    position: relative;
    height: 270px;
}

.imagetext{
    color: white;
    padding: 0 0 5px 0;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    background: rgb(32, 35, 41);
    opacity: 0.8;
    text-align: center;
}

.imagetext h1{
    font-size: 20px;
}

.imagetext span{
    font-size: 13px;
}

.info_character span{
    text-align: left;
    color: rgb(158, 158, 158);
}

.info_character p{
    text-align: right;
    color: rgb(255, 152, 0);
}

.main_content {
    margin: 0 auto;
    background-color: rgb(32, 35, 41);
    padding: 10px 0;
}

.main_content > .card {
    display: inline-block;
    vertical-align: top;
}

.title{
    font-size: 40px;
    padding: 40px;
    font-weight: bold;
    background-color: rgb(32, 35, 41);
    color: rgb(255, 152, 0);

}

.section_content {
    display: flex;
    justify-content: center;
    background-color: rgb(32, 35, 41);
    flex-direction: column;
}

.section_container {
    margin: 20px;
}

.filter_button {
    margin: 5px;
    width: 140px;
    background-color: red;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
}

.filter_button_active {
    margin: 5px;
    width: 140px;
    background-color: green;
    font-weight: bolder;
    border: 0px;
    cursor: pointer;
}

.section_title{
    color: rgb(255, 152, 0);
}

.section_header > span {
    font-size: 35px;
    color: rgb(255, 152, 0);
    font-weight: bold;
}

.button_content {
    background-color: rgb(32, 35, 41);
}

.filter_button_text {
    font-size: 20px;
}

.dropdown_title {
    color: rgb(255, 152, 0);
}